/* Variables */
:root {
    --dark-blue : #1f2937;
    --main-text-color: #f9faf8;
    --secondary-text-color: #e5e7eb;
    --button-color: #3882f6;
    --testimonial-bcolor: #e5e7eb;
}

/* Should I make a secondary text class for where there is subtext on the page to inherit the right size from here */
/* Should I just set size when I get to each one? */

/* Body */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
    flex: 3 0 auto;
    height: 30%;
}

.header__nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.header__hero-container {
    width: 75%;
    display: flex;
    justify-content: center;
}

.header__logo {
    color: var(--main-text-color);
    font-size: 24px;
}

.header__link {
    color: var(--secondary-text-color);
    font-size: 18px;
    padding-left: 1rem;
}

.header__hero-container-left {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    flex: 1;
}

.header__hero-container-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1
}

.header__img {
    flex: 1 1 auto;
    max-width: 400px;
    height: 200px;
    min-width: 0
}

.header__title {
    font-size: 48px;
    color: var(--main-text-color);
    font-weight: bolder;
}

.header__subtext {
    font-size: 18px;
    color: var(--secondary-text-color);

}

.signup-button {
    width: 100px;
    background-color: var(--button-color);
    flex: 0 0 auto;
    padding: 6px;
    color: var(--secondary-text-color);
    border: none;
    border-radius: 5px;
}

.signup-button--border {
    border: var(--secondary-text-color) 2px solid;
}

.information {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    flex: 2 0 auto;
}

.information__container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information__header {
    font-size: 36px;
    font-weight: bold;
    color: var(--dark-blue);
}

.information__card-container {
    display: flex;
    justify-content: center;
}

.information__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information__card-img {
    border: var(--button-color) 3px solid;
    height: 200px;
    width: 200px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.information__card-text {
    text-align: center;
    color: var(--dark-blue);
}

.testimonials {
    background-color: var(--testimonial-bcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    flex: 2 0 auto;
    height: 20%;
}

.testimonials__container {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.testimonials__quote {
    color: var(--dark-blue);
    font-style: italic;
    font-weight: light;
    font-size: 36px;
    margin: 0;
}

.testimonials__author {
    color: var(--dark-blue);
    font-weight: bold;
    align-self: flex-end;
    margin: 0;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    flex: 2 0 auto;
    height: 25%;
}

.signup__container {
    background-color: var(--button-color);
    width: 75%;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 1rem;
    gap: 1rem;
}

.signup__container-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup__container-left {
    display: flex;
    flex-flow: column wrap;
}

.signup__header {
    color: var(--main-text-color);
    padding: 0;
    margin: 0;
}

.signup__subtext {
    color: var(--secondary-text-color);
    padding: 0;
    margin: 0;
}

.footer {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    height: 10%;
}

.footer__copyright {
    color: var(--secondary-text-color);
    font-size: 18px;
}