/* Variables */
:root {
  --c-one: #1f2937;
  --c-two: #f9faf8;
  --c-three: #fff;
  --c-four: #e5e7eb;
  --c-five: #3882f6;

  --primary: var(--c-one);
  --primary-alt: var(--primary);
  --on-primary: var(--c-two);
  --on-primary-lc: var(--c-four);
  --on-primary-hc: var(--c-five);
  
  --secondary: var(--c-three);
  --secondary-alt: var(--c-four);
  --on-secondary: var(--c-one);
  --on-secondary-lc: var(--on-secondary);
  --on-secondary-hc: var(--c-five);

  --tertiary: var(--c-five);
  --tertiary-alt: var(--tertiary);
  --on-tertiary: var(--c-two);
  --on-tertiary-lc: var(--c-four);
  --on-tertiary-hc: var(--c-one);
}

/* Primary */

.primary {
  background-color: var(--primary);
  color: var(--on-primary);
}

.primary.alt {
  background-color: var(--primary-alt);
}

.primary .low-contrast {
  color: var(--on-primary-lc)
}

.primary a:hover {
  color: var(--tertiary);
}

.primary a:hover,
.primary .contrast {
  color: var(--on-primary-hc);
}

/* Secondary */

.secondary {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.secondary.alt {
  background-color: var(--secondary-alt);
}

.secondary .low-contrast {
  color: var(--on-secondary-lc)
}

.secondary a:hover,
.secondary .contrast {
  color: var(--on-secondary-hc);
}

/* Tertiary */

.tertiary {
  background-color: var(--tertiary);
  color: var(--on-tertiary);
}

.tertiary.alt {
  background-color: var(--tertiary-alt);
}

.tertiary .low-contrast {
  color: var(--on-tertiary-lc)
}

.tertiary a:hover,
.tertiary .contrast {
  color: var(--on-tertiary-hc);
}
