/* Variables */
:root {
    --ratio: 1.5;

    /* Size */
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s1) / var(--ratio));
    --s0: 0;
    --s1: 1rem;
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --s6: calc(var(--s5) * var(--ratio));

    /* Font Size */
    --font-ratio: 1.23;
    --fs-2: calc(var(--fs-1) / var(--font-ratio));
    --fs-1: calc(var(--fs1) / var(--font-ratio));
    --fs1: calc(0.75rem + 0.5vw);
    --fs2: calc(var(--fs1) * var(--font-ratio));
    --fs3: calc(var(--fs2) * var(--font-ratio));
    --fs4: calc(var(--fs3) * var(--font-ratio));
    --fs5: calc(var(--fs4) * var(--font-ratio));

    --base-content-max-width: 45rem;
    --content-max-width-ratio: 14vw;
    --content-max-width: calc(var(--base-content-max-width) + var(--content-max-width-ratio));
    --narrow-content-max-width: calc((var(--base-content-max-width) * 0.7 ) + var(--content-max-width-ratio));
    --measure: 60ch;

    font-size: var(--fs1);
}

/* General */
* {
    max-inline-size: var(--content-max-width);
}

html, body, header, main, footer, section {
    max-inline-size: none; 
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    padding-block: var(--s5);
}

section, footer, header {
    padding-inline: var(--s1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

:where(section, footer, header).row {
    flex-direction: row;
    justify-content: center;
    align-items: unset;
}

:where(section, footer, header) > * {
    padding-block: var(--s1);
}

footer {
    padding: var(--s1);
}

/* Fonts */
h5 {
    font-size: var(--fs1);
    font-weight: 500;
}

h4 {
    font-size: var(--fs2);
    font-weight: 600;
}

h3 {
    font-size: var(--fs3);
    font-weight: 700;
}

h2 {
    font-size: var(--fs4);
    font-weight: 800;
}

h1 {
    font-size: var(--fs5);
    font-weight: 900;
}

/* Controls */
button {
    border-style: solid;
    border-radius: 0.3rem;
    padding: 0.3rem 1.2rem;
    font-weight: 600;
}

/* Header */
header .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: 900;
}

nav {
    display: flex;
    gap: var(--s1);
    align-items: center;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a + a {
    margin-inline-start: var(--s1);
}

/* Hero */
.hero {
    display: flex;
    gap: var(--s3);
    padding-block-end: var(--s4);
}

.hero__content {
    flex: 1;
    padding-block: var(--s1);
}

.hero__content :last-child {
    margin-block-start: var(--s-1);
}

.hero__image {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    max-height: 0; /* Fixes a bug in css */
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

/* Information Section */
section.information {
    padding-block-start: var(--s2);
}

/* Gallery */
.gallery {
    display: flex;
    gap: var(--s4);
    max-inline-size: var(--narrow-content-max-width);
    text-align: center;
}

.gallery__image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    border-width: 4px;
    border-style: solid;
    border-radius: 10%;
}

/* Testimonial */
.testimonial {
    max-inline-size: var(--narrow-content-max-width);
}

.testimonial__quote {
    font-size: var(--fs3);
    font-style: italic;
}

.testimonial__author {
    font-size: var(--fs2);
    font-weight: 700;
    text-align: right;
}

/* Call To Action */
.cta {
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--s4);

    padding-inline: var(--s2);
    padding-block: var(--s3);
}

.cta__heading {
    font-size: var(--fs2);
}

.cta__button {
    flex-shrink: 0;
}
